.dialog-title {
  font-size: 24px;
  background: linear-gradient(to left, #3d8ad7, #0864af);
  color: #fff;
  padding: 8px;
  margin-bottom: 18px;
  border-radius: 8px;
  text-align: center;
}

mat-form-field {
  width: 100%;
  margin-bottom: 16px;
}

mat-label {
  font-size: 18px;
  color: #555;
}

input.mat-input {
  font-size: 16px;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: 100%;
}

.mat-error {
  font-size: 12px;
  color: #f44336; 
}

.mat-dialog-actions {
  justify-content: flex-end;
  margin-top: 16px;
}

button.cancel-button {
  color:  #f44336; 
  margin-right: 16px;
}

button.change-password-button {
  background: linear-gradient(to right, #3d8ad7, #3679af);
  color: #fff;
  transition: background-color 0.3s;
}

button.change-password-button:disabled {
  background: linear-gradient(to right, #ccc, #bbb);
  color: #fff;
  cursor: not-allowed;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
}
