<div class="outer-container">
    <div class="appointment-container">
      <h2>{{ isEditing ? 'Edit Appointment' : 'Book an Appointment' }}</h2>
      <form (submit)="bookAppointment(appointmentForm)" #appointmentForm="ngForm" novalidate class="appointment-form">
        <mat-form-field class="input-field">
          <mat-label>Name</mat-label>
          <input matInput type="text" placeholder="Name" [(ngModel)]="formData.name" name="name" required
            #name="ngModel">
          <mat-error *ngIf="name.invalid && (name.dirty || name.touched)">
            <span *ngIf="name.errors?.['required']">Name is required</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Email</mat-label>
          <input matInput type="email" placeholder="Email" [(ngModel)]="formData.email" name="email" required
            email #email="ngModel">
          <mat-error *ngIf="email.invalid && (email.dirty || email.touched)">
            <span *ngIf="email.errors?.['required']">Email is required</span>
            <span *ngIf="email.errors?.['email']">Invalid email format</span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="input-field">
          <mat-label>Date</mat-label>
          <input matInput [matDatepicker]="datepicker" [(ngModel)]="formData.selectedDate" name="selectedDate"
            required [min]="minDate" #selectedDate="ngModel">
          <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
          <mat-datepicker #datepicker></mat-datepicker>
          <mat-error *ngIf="selectedDate.invalid && (selectedDate.dirty || selectedDate.touched)">
            <span *ngIf="selectedDate.errors?.['required']">Date is required</span>
          </mat-error>
        </mat-form-field>
  
        <div class="button-container">
          <button mat-raised-button color="primary" type="submit" class="submit-button">
            <span>{{ isEditing ? 'Save Changes' : 'Book Now' }}</span>
          </button>
          <div class="overlay" *ngIf="isLoading">
            <img src="./../../../assets/loader-circle-blue.gif" alt="Loading" class="loader-image">
          </div>
        </div>
      </form>
    </div>
  </div>
  