.login-page {
  background-image: url("../../../assets/appoinment-page.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end; 
  padding: 35px; 
  /* padding: 15.5px; */
}

.login-container {
  max-width: 400px;
  /* padding: 6px 20px; */
  padding: 12px 20px;
  background-color: #f5f5f5;
  border: 2px solid #007bff;
  border-radius: 8px;
  align-items: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  text-align: center;
  
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-weight: 550;
}

.mat-form-field {
  width: 100%;
}

.mat-input-element {
  font-size: 16px;
}

.mat-error {
  font-size: 14px;
  color: #d9534f;
  margin-top: 1px;
}

.submit-button {
  width: 100%;
  background: linear-gradient(to right, #3d8ad7, #0864af);
  color: white;
  font-size: 20px;
  padding: 10px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.submit-button:hover {
  background: linear-gradient(to left, #3d8ad7, #0864af);
}

.register-link {
  margin-top: 15px;
  text-align: center;
  font-size: 15px;
}

.login-link-text {
  color: #007bff;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 15px;
}

.login-link-text:hover {
  text-decoration: underline;
}

.forgot-link-text {
  font-size: 15px;
  margin-left: 220px;
  padding: .5rem 0 .5rem 0;
}

.forgot-link-text a {
  color: #007bff;
  text-decoration: none;
}

.forgot-link-text:hover {
  text-decoration: underline;
  color: #007bff;
}

.error-message {
  color: red;
  text-align: center;
  margin-bottom: 10px;
}

.toggle-password-icon {
  margin-bottom: 3px;
}

.google-login-button {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  font-size: 15px;
  padding: 2px 10px;
  border: none;
  border-radius: 22px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.google-icon {
  width: 18px; 
  height: 18px;
  margin-right: 10px; 
}

.google-login-button:hover {
  background-color: #e0e0e0;
}

.separator-text {
  color: #555;
  font-weight: bold;
  font-size: 14px;
}

.active-button {
  background: linear-gradient(to left, #3d8ad7, #0864af); /* Change to your desired active button style */
}

@media screen and (max-width: 900px) {
  .login-page {
      background-image: none;
      justify-content: center;
      padding: 45px; 
  }
}


